:root {
  --bg-color: #003399;
  --txt-color: #ffffff;
  --hover-bg-color: #0044cc;
  --hover-txt-color: #ffffff;
  --nav-shadow: #b3b3b3;
}

body { padding-top: 40px; }
@media screen and (max-width: 768px) {
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: var(--bg-color);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: inline-block;
  color: var(--txt-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: var(--hover-bg-color);
  color: var(--hover-txt-color);
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px var(--nav-shadow);
    -moz-box-shadow: 0 8px 6px -6px var(--nav-shadow);
    box-shadow: 0 8px 6px -6px var(--nav-shadow);
}
