:root {
  --bg-color: #003399;
  --txt-color: #ffffff;
  --hover-bg-color: #0044cc;
  --hover-txt-color: #ffffff;
}

body {
	font: 16px Segoe UI;
	flex-direction: column-reverse;
	max-width: 1000px;
	margin: auto;
}

a {
	text-decoration: none;
}

.stretch {
	width: 100%;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	background-color: var(--bg-color);
	border: none;
	color: var(--txt-color);
	padding: 14px 16px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.button:hover {
	background-color: var(--hover-bg-color);
	color: var(--hover-txt-color);
}

.flex .button {
	flex: 1;
}

body:not(.grid-builder) .show-in-grid-builder {
	display: none;
}

.grid-builder .hide-in-grid-builder {
	display: none;
}

.intro {
	order: 1;
}

.clear, .clear:after {
	content: '';
	display: block;
	clear: both;
}

h2,p{
	color: var(--bg-color);
}